<html>
  <body style="font-family: Geneva, Arial, Helvetica, sans-serif;">
    {% if item.Type == 'sale' %}
    <p>Реализуем культуру <strong>{{ cropName }}</strong> {% for parameter in item.ParameterValues %} {% if parameter.ParameterName == "Класс" or parameter.ParameterName == "Твердость" or parameter.ParameterName == "Твёрдость" %} {{ parameter.Value }} {% endif %} {% endfor %} по цене <strong>{% if item.PriceWithDelivery|stringformat:"%.f" == '0' %}{{ item.Price|stringformat:"%.f" }}{% else %}{{ item.PriceWithDelivery|stringformat:"%.f" }}{% endif %} руб.</strong> за тонну. Цена указана с учётом доставки до вашего склада.
    <p>Объем продукции <strong>{{ item.Volume | stringformat:"%.f" }} т.</strong></p>
    <p>{{ item.Vendor.Company.ShortName }}</p>
    <p>Контактное лицо: {{ item.Vendor.Surname }} {{ item.Vendor.Firstname }} {{ item.Vendor.Lastname }} </p>
    <p>Телефон: <a href="tel:{{ item.Vendor.Phone }}">{{ item.Vendor.Phone }}</a></p>
    <p>Более подробная информация по <a href="{{project_base}}{{item.Type}}/best-bids/{{item.CropID}}?bearer={{user.JWTToken}}">ссылке</a></p>
    <p>Если эта заявка вам не подходит, то настройте профиль компании по ссылке <a href="{{project_base}}sale/filters">изменить настройки подписки</a> или позвоните мне по номеру <a href="tel:{{ settings.ManagerPhone }}">{{ settings.ManagerPhone }}</a>.</p>
    {% endif %}

    {% if item.Type == 'purchase' %}
    <p>Требуется <strong>{{ cropName }}</strong> {% for parameter in item.ParameterValues %} {% if parameter.ParameterName == "Класс" or parameter.ParameterName == "Твердость" or parameter.ParameterName == "Твёрдость" %} {{ parameter.Value }}{% endif %}{% endfor %}.</p>
    <p>Готовы приобрести продукцию на вашем складе по цене <strong>{% if item.PriceWithDelivery|stringformat:"%.f" == '0' %}{{ item.Price|stringformat:"%.f" }}{% else %}{{ item.PriceWithDelivery|stringformat:"%.f" }}{% endif %} руб.</strong> за тонну.</p>
    <p>Объем закупки <strong>{{ item.Volume | stringformat:"%.f" }} т.</strong></p>
    <p>{{ item.Vendor.Company.ShortName }}</p>
    <p>Контактное лицо: {{ item.Vendor.Surname }} {{ item.Vendor.Firstname }} {{ item.Vendor.Lastname }} </p>
    <p>Телефон: <a href="tel:{{ item.Vendor.Phone }}">{{ item.Vendor.Phone }}</a></p>
    <p>Более подробная информация по <a href="{{project_base}}{{item.Type}}/best-bids/{{item.CropID}}?bearer={{user.JWTToken}}">ссылке</a>.</p>
    <p>Если эта заявка вам не подходит, то настройте профиль компании по ссылке <a href="{{project_base}}purchase/filters">изменить настройки подписки</a> или позвоните мне по номеру <a href="tel:{{ settings.ManagerPhone }}">{{ settings.ManagerPhone }}</a>.</p>
    {% endif %}
    <p>С уважением, Амбар.</p>
  </body>
</html>